doctype html
html
  head
    title Angular Node ES6 seed - #{title}
    block scripts
      //script(src="js/system.js")
      //script(src="js/jspm.config.js")
      script(src='js/app.js')
    // include ./index.html
    link(rel='stylesheet', href='/css/main.css')

  body(ng-controller="homeController as ctrl")
    h1(ng-bind="ctrl.hello")
    //script(type='text/javascript' id="__bs_script__").
      //<![CDATA[\ndocument.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.7.6.js'><\/script>".replace("HOST", location.hostname));\n//]]>.
      